---
layout: null
permalink: /atom.xml
---

<!-- <?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">


</feed> -->

{% assign URL = site.url %}
{% assign CATEGORY = page.category  | default: "" %}
{% assign TAG = page.tag  | default: "" %}


<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

	<title>Ankit's Blog</title>
	<link href="{{ URL }}/{{CATEGORY}}/atom.xml" rel="self"/>
	<link href="{{ URL }}"/>
	<updated>{{ site.time | date_to_xmlschema }}</updated>
	<id>{{ URL }}/{{CATEGORY}}/{{TAG}}</id>
	<author>
		<name>Ankit Gupta</name>
		<email>ankit.elec.iitd@gmail.com</email>
	</author>

	{% for post in site.posts %}
	{% if post.categories contains CATEGORY %}
		{% if post.tags contains TAG %}
			<entry>
				<title>{{ post.title }}</title>
				<link href="http://ankit2788.github.io{{ post.url }}"/>
				<updated>{{ post.date | date_to_xmlschema }}</updated>
				<id>http://ankit2788.github.io{{ post.id }}</id>
				<content type="html">{{ post.content | xml_escape }}</content>
			</entry>
		{% endif %}	
	{% endif %}
	{% endfor %}

</feed>

